/**Navbar para la clase active*/
.navbar-page .navbar-nav .nav-item .nav-link {
   color: #424242;
}
.navbar-page .navbar-nav .nav-item .nav-link.active{
   color: #8c142a;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
   background-color: #fff;
}
.navbar-after-scroll #inicio_sesion_principal{
   color: #8c142a !important;
}
/* Transition after scrolling */
.navbar-after-scroll {
   transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll #inicio_sesion_principal {
   transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
/* Transition after scrolling */
.navbar-after-scroll #inicio_sesion_principal {
   transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll {
   transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
/* An optional height of the navbar AFTER scroll */
.navbar.navbar-before-scroll.navbar-after-scroll {
   padding-top: 5px;
   padding-bottom: 5px;
}
/* Navbar on mobile */
@media (max-width: 991.98px) {
   #main-navbar {
      background-color: #fff;
   }

   .nav-link,
   .navbar-toggler-icon {
      color: #4f4f4f !important;
   }
}
/*css para el slider principal*/
.bg-image-slider{
   position: relative;
   height: 100vh;
   object-fit: cover;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.45);
   /* Negro con 50% de opacidad */
}
/*css para imagenes de las card de departamentos*/
.bg_img_departamentos{
   background-size: cover;
   background-position: center;
   height: 200px;
   max-width: 100%;
   display: block;
}
/*Css para rotar las imagenes lg*/
@media (min-width: 992px) {
   .rotate-lg {
      transform: rotate(6deg);
   }
}
.custom-shape-divider-bottom-1732555480 {
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732555480>svg {
   /*position: relative;*/
   display: block;
   width: calc(100% + 1.3px);
   height: 175px;
}

.custom-shape-divider-bottom-1732555480 .shape-fill {
   fill: #8c142a;
}
.form-check-input[type=checkbox]:checked {
   background-color: #8c142a !important;
   border-color: #8c142a !important;
}